<%= render 'shared/header' %>

<div class="main">
  <div class="howto-wrapper">
    <h2>このアプリの使い方</h2>
    <div class="howto">
      <h3>①Twitterアカウントでログインします</h3>
      <div class="img-box">
        <%= image_tag 'howto_1.png' %>
      </div>
    </div>
    <div class="howto">
      <h3>②積み上げタスクを登録します</h3>
      <div class="img-box">
        <%= image_tag 'howto_2.png' %>
      </div>
    </div>
    <div class="howto">
      <h3>③今日の積み上げたタスクのカウント入力して追加します</h3>
      <div class="img-box">
        <%= image_tag 'howto_3.png' %>
      </div>
    </div>
    <div class="howto">
      <h3>④累計が更新されツイート本文が生成されます</h3>
      <div class="img-box">
        <%= image_tag 'howto_4.png' %>
      </div>
    </div>
    <div class="howto">
      <h3>⑤Twitterの投稿画面で自由に編集してツイートしましょう</h3>
      <div class="img-box">
        <%= image_tag 'howto_5.png' %>
      </div>
    </div>
    <div class="howto">
      <h3>タスク名をクリックするとタスクの編集・削除ができます</h3>
      <div class="img-box">
        <%= image_tag 'howto_6.png' %>
      </div>
    </div>
    <p><%= link_to '-トップページに戻る-', root_path %></p>
  </div>
</div>

<%= render 'shared/footer' %>
