<%= render 'shared/header' %>

<div class="main">

<div class="stack-wrapper">

  <div class="table-area">
    <h2>積み上げ</h2>
    <div class="stack-table">
      <table>
        <thead>
          <tr>
            <th class="task">タスク</th>
            <th class="count">累計</th>
            <th class="today-stack">今日の積み上げ</th>
          </tr>
        </thead>
        <tbody>
          <% if @stacks == nil %>
              <tr>
                <td>ログイン後ここにタスクが表示されます。</td>
                <td></td>
                <td></td>
              </tr>
          <% elsif @stacks == [] %>
              <tr>
                <td>新しいタスクを追加しよう</td>
                <td></td>
                <td></td>
              </tr>
          <% else %>
            <% @stacks.each_with_index do |stack,i| %>
              <tr>
                <td id="stack-task-<%= i %>"><%= stack.task %></td>
                <td align="center" id="stack-count-<%= i %>"><%= stack.count %></td>
                <td align="center">
                  <%= form_with model:stack, class:"count-form", remote: true do |f| %>
                    <%= f.text_area :count, value:"", class:"today-stack-field", id:"today-stack-field-#{i}",placeholder:"num" %>
                    <%= f.submit "追加" ,class:"submit-btn", id:"count-submit-#{i}" %>
                    <span class="hidden stack-index"><%= i %></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <%if user_signed_in? %>
      <div class="task-form-area">
        <%= form_with model:@stack do |f| %>
          <%= f.text_area :task, placeholder:"タスク名（必須 20文字まで)", maxlength:"20" %>
          <%= f.submit "登録する" ,class:"submit-btn" %>
        <% end %>
      </div>
    <% end %>
  </div>


  

  <div class="tweet-area">
    <div class="tweet-sample">
    </div>
  </div>
  
</div>

</div>

<%= render 'shared/footer' %>