<%= render 'shared/header' %>

<div class="main">
  <% if user_signed_in? %>
    <div class="intro-wrapper">
      <div class="intro">
        <%= current_user.name %>さん、ご利用ありがとうございます♪<br>
        いつも積み上げお疲れ様です！
      </div>
    </div>
  <% else %>
    <div class="intro-wrapper">
      <div class="intro">
        「#今日の積み上げ」で呟くタスクを集計できると楽しいかなと思って作りました。<br>
        <div class="intro-btn-area">
          <%= button_to user_twitter_omniauth_authorize_path, {method: :post, class:"intro-btn"} do %>
            <p class="intro-btn-top">今日の積み上げったーを使ってみる</p>
            <p class="intro-btn-botton">ご利用になるにはTwitterアカウントの連携が必要です</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="stack-wrapper">
    <div class="table-area">
      <h2>積み上げの記録</h2>
      <div class="stack-table">
        <table>
          <thead>
            <tr>
              <th class="task">タスク</th>
              <th class="count">累計</th>
              <th class="today-stack">今日の積み上げ</th>
            </tr>
          </thead>
          <tbody>
            <% if @stacks == nil %>
                <tr>
                  <td>ログイン後ここにタスクが表示されます。</td>
                  <td></td>
                  <td></td>
                </tr>
            <% elsif @stacks == [] %>
                <tr>
                  <td>新しいタスクを追加しよう</td>
                  <td></td>
                  <td></td>
                </tr>
            <% else %>
              <% @stacks.each_with_index do |stack,i| %>
                <tr>
                  <td id="stack-task-<%= i %>" class="js-modal-open stack-task-name" data-target="task-modal-<%= i %>"><%= stack.task %></td>
                  <td align="center" id="stack-count-<%= i %>"><%= stack.count %><span id="stack-task-<%= i %>"><%= stack.unit %></ span></td>
                  <td align="center" class="today-count-sell">
                    <%= form_with model:stack, class:"count-form", remote: true do |f| %>
                      <%= f.number_field :count, value:"", class:"today-stack-field", id:"today-stack-field-#{i}",placeholder:"0" %>
                      <%= f.submit "追加" ,class:"submit-btn", id:"count-submit-#{i}" %>
                      <div class="sum-check-box">
                        <%= check_box_tag 'check', true, false, {id:"sum-check-#{i}"} %>
                        <%= label_tag :check, "累計をツイート" %>
                      </div>
                      <span class="hidden stack-index"><%= i %></span>
                    <% end %>
                    <div id="task-modal-<%= i %>" class="modal js-modal">
                      <div class="modal_bg js-modal-close"></div>
                      <div class="modal_content">
                        <%= render partial:"stacks/edit",locals: { stack: stack} %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <% if user_signed_in? %>
    <div class="task-form-area">
      <h3>積み上げタスクの登録</h3>
      <%= form_with model:@stack do |f| %>
        <%= f.text_field :task, placeholder:"タスク名（15文字まで)", maxlength:"15", class:"task_field" %>
        <%= f.text_field :unit, placeholder:"単位", maxlength:"5", class:"unit_field" %>
        <%= f.submit "登録する" ,class:"submit-btn" %>
      <% end %>
    </div>
    <div class="tweet-area">
      <p>↓ツイートはこちらから↓</p>
      <div class="tweet-sample">
      </div>
      <div class="tweet-btn-area">
        <button type="button" id="tweet-btn" class="tweet-btn">Twitterでツイートする<i class="fab fa-twitter"></i></button>
      </div>
    </div>
    <% end %>

  </div>

</div>

<%= render 'shared/footer' %>