<%= render 'shared/header' %>

<div class="main">
  <div class="howto-wrapper">
    <h2>このアプリの使い方</h2>
    <div class="howto">
      <h3>①Twitterアカウントでログインします</h3>
      <div class="img-box">
        <%= image_tag asset_path('howto_1.jpeg') %>
      </div>
    </div>
    <div class="howto">
      <h3>②積み上げタスクを登録します</h3>
      <div class="img-box">
        <%= image_tag asset_path('howto_2.jpeg') %>
      </div>
    </div>
    <div class="howto">
      <h3>③今日の積み上げたタスクのカウントを入力します</h3>
      <div class="img-box">
        <%= image_tag asset_path('howto_3.jpeg') %>
      </div>
    </div>
    <div class="howto">
      <h3>④累計が更新されツイート本文が生成されます</h3>
      <div class="img-box">
        <%= image_tag asset_path('howto_4.jpeg') %>
      </div>
    </div>
    <div class="howto">
      <h3>⑤Twitterの投稿画面で自由に編集してツイートしましょう</h3>
      <div class="img-box">
        <%= image_tag asset_path('howto_5.jpeg') %>
      </div>
    </div>
    <div class="howto">
      <h3><i class="far fa-star"></i> タスク名をクリックするとタスクの編集・削除ができます</h3>
      <div class="img-box">
        <%= image_tag asset_path('howto_6.jpeg') %>
      </div>
    </div>
    <div class="howto">
      <h3><i class="far fa-star"></i> 退会は<span class="js-modal-open exit-link-text" data-target="exit-modal">こちらから</span>　退会後にTwitterでの提携解除も忘れずに行いましょう</h3>
      <div class="img-box">
        <%= image_tag asset_path('howto_7.jpeg') %>
      </div>
      <div id="exit-modal" class="modal js-modal">
        <div class="modal_bg js-modal-close"></div>
        <div class="modal_content">
          <%= render partial:"stacks/exit" %>
        </div>
      </div>
    </div>
    <p><%= link_to '-トップページに戻る-', root_path %></p>
  </div>
</div>

<%= render 'shared/footer' %>
